h1 {
  text-align: center;
  margin-top: auto;
}

.listContainer {
  display: flex;
  justify-content: center;
}

.groupContainer {
  width: 50vw;
}

@media (max-width: 900px) {
  .groupContainer {
    width: 90vw;
  }
}
