h1 {
  text-align: center;
  margin-top: auto;
}

.difficulty-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.difficulty-1 {
  background-color: blue;
}

.difficulty-2 {
  background-color: red;
}

.difficulty-3 {
  background-color: black;
}

.listContainer {
  display: flex;
  justify-content: center;
}

.groupContainer {
  width: 50vw;
}

.trickButton {
  width: 70%;
  margin: 0;
}

@media (max-width: 900px) {
  .groupContainer {
    width: 90vw;
  }
  .trickButton {
    width: 95%;
  }
}
