h1 {
  text-align: center;
  margin: 0;
}

.cardContainer {
  width: 80vw;
}

.trickCol {
  height: 100%;
}

.buttons {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .cardContainer {
    width: 90vw;
  }
  .trickCol {
    height: 50%;
  }
}
